* {
    background: green;
}
#counter {
    text-align: center;
    font-family: 'Calibri';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2.5%;
}
#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem;
    max-width: 800px;
    margin: auto;
  }

.card {
    aspect-ratio: 1 / 1;    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    background-image: url('assets/naipe.jpg');
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat; 
  }
